
<%= simple_form_for(@channel) do |f| %>
   <%= render "layouts/validation", obj: @channel %>
  <div class="columns">
    <div class="column is-6">

      <div class="field">
        <label class="label">
          <%= f.label :channel %>
        </label>
        <div class="control">
          <%= f.text_field :channel, class: "input", placeholder: "Channel" %>
        </div>
      </div>

      <div class="control">
        <%= f.submit "Submit", class: "button is-info" %>
        
      </div>
    </div>
  </div>
<% end %>
